<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect Internet Explorer" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^$|.*" />
                    <conditions trackAllCaptures="true">
                        <add input="{HTTP_USER_AGENT}" pattern=".*(?:(MS)?IE|Trident\/7\.0;.*rv:(\d+).*(\d+)).*" />
                    </conditions>
                    <action type="Rewrite" url="./browsernotsupported.html" />
                </rule>
				
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>